<p-dialog [draggable]="true" header=" {{ quiz.title }} - quiz details" [(visible)]="displayDialog" [modal]="true"
  [closable]="true" [responsive]="true" [resizable]="true" [style]="{ width: '75%', height: 'auto' }"
  (onHide)="handleDialogHide()">
  <div class="flex flex-column">
    @for(question of quiz.questions; track trackByQuestion; let questionIndex =
    $index ){
    <p-accordion multiple="false" [activeIndex]="questionIndex">
      <div class="flex flex-row gap-1 w-full">
        <p-accordionTab iconPos="end" class="flex-grow-1 mr-2" header="Question - {{ questionIndex + 1 }}">
          <div class="flex flex-column gap-2 m-2">
            <div class="flex flex-row gap-1">
              <input type="text" pInputText placeholder="Write your question here . . ."
                [(ngModel)]="quiz.questions[questionIndex].text" class="flex-grow-1" required
                #questionInput="ngModel" />
              <i *ngIf="questionInput.invalid && (questionInput.touched || questionInput.dirty)"
                class="pi pi-exclamation-circle pt-1" style="font-size: 2em; color: red;"></i>

            </div>

            <div class="flex flex-row justify-content-between mt-1 gap-2">
              <p-selectButton [options]="questionTypes" (onChange)="groupButtonSelectionChanged($event ,questionIndex)"
                [(ngModel)]="quiz.questions[questionIndex].isMultipleChoice" optionLabel="label" optionValue="value" />
              <p-button label="Add answer" icon="pi pi-plus" (onClick)="addAnswer(questionIndex)" severity="info">
              </p-button>
            </div>
            @for(answer of question.answers; track trackByAnswer; let
            answerIndex = $index){
            <div class="flex flex-row gap-1 w-full">

              @if(quiz.questions[questionIndex].isMultipleChoice){
              <p-checkbox [value]="true" [binary]="true"
                [(ngModel)]="quiz.questions[questionIndex].answers[answerIndex].isCorrect" label=""> </p-checkbox>
              } @else {

              <p-radioButton [name]="'question'+ questionIndex" [value]="answerIndex"
                (onClick)="radioButtonChanged(questionIndex, answerIndex)"
                [(ngModel)]="quiz.questions[questionIndex].selectedAnswerIndex" label=""></p-radioButton>
              }



              <input type="text" pInputText [(ngModel)]="question.answers[answerIndex].text" class="flex-grow-1"
                placeholder="answer - {{ answerIndex + 1 }}" #answerInput="ngModel" required />
              <i *ngIf="answerInput.invalid && (answerInput.touched || answerInput.dirty)"
                class="pi pi-exclamation-circle pt-1" style="font-size: 2em; color: red;"></i>

              <p-button label="" icon="pi pi-trash" pTooltip="remove answer"
                (onClick)="removeAnswer(questionIndex, answerIndex)" severity="danger" [outlined]="true">
              </p-button>
            </div>

            }@empty {
            <span class="text-base text-500">
              There is no answers in this question
            </span>

            }
          </div>
        </p-accordionTab>
        <p-button label="" icon="pi pi-trash" class="align-content-center" pTooltip="remove question"
          (onClick)="removeQuestion(question,questionIndex)" severity="danger">
        </p-button>
      </div>
    </p-accordion>
    }@empty {
    <span class="text-xl text-600"> There is no questinos in this quiz </span>
    }
  </div>

  <div class="flex justify-content-end gap-2 m-2">
    <p-button label="Add Question" icon="pi pi-plus" (onClick)="addQuestion()" severity="primary"></p-button>
  </div>
  <p-footer>
    <div class="flex justify-content-end gap-2">
      <p-button label="Save" icon="pi pi-check" (onClick)="onSaveQuiz()" severity="success"
        [disabled]="!isModelStateValid()"></p-button>

      <p-button label="Cancel" icon="pi pi-times" severity="secondary" (onClick)="handleDialogHide()"></p-button>

      <p-button label="TEST" severity="warning" (onClick)="test()"></p-button>
    </div>
  </p-footer>
</p-dialog>
