<div class="flex flex-row justify-content-center pt-3">


  <p-buttonGroup>
    <button pButton (click)="showPreviousQuestion()" [disabled]="isPreviousButtonDisabled()" icon="pi pi-angle-left"
      severity="primary" [raised]="true"></button>

    @for(question of quizResult.quiz?.questions; track question.id; let index = $index ){
    <button pButton (click)="showQuestion(index)" label="{{index + 1}}" severity="primary" [raised]="true"
      [outlined]="true"
      [ngStyle]="{'background-color': currentIndex === index ? '#6a5de3' : '', 'color': currentIndex === index ? '#fff' : ''}">
    </button>
    }@empty{

    }
    <button pButton (click)="showNextQuestion()" severity="primary" [raised]="true" [disabled]="isNextButtonDisabled()"
      icon="pi pi-angle-right"></button>

  </p-buttonGroup>

</div>


<div class="flex flex-column mt-6 mb-6 text-center" style="width: 75%; margin: 0 auto;">
  <div class="flex-auto justify-content-center">
    <div class="p-card">
      <div class="p-card-header mt-1 text-2xl">
        Question {{currentIndex + 1}}
      </div>
      <div class="p-card-body text-2xl" style="min-height: 100px;">
        {{this.currentQuestion?.text}}
      </div>
    </div>
  </div>

  <!-- Answers Card Group -->
  <div>
    <div class="flex flex-wrap justify-content-center mt-6">
      <!-- Loop through answers -->

      <div class="flex flex-wrap justify-content-evenly gap-4">
        @for(answer of currentQuestion?.answers; track answer.id; let answerIndex = $index){
        <div class="flex flex-row gap-2 ml-3 mr-3">

          @if(currentQuestion?.isMultipleChoice){


          <p-checkbox name="answerCheckboxGroup" [binary]="true" [disabled]="true"
            [(ngModel)]="quizResult.selectedCheckboxAnswers[currentIndex][answerIndex]" [value]="true" />

          <div
            [ngStyle]="{'background-color':  answer.isCorrect ? 'var(--green-600)' :  'var(--red-600)', 'color': answer.isCorrect ?  'var(--primary-color-text)' : 'var(--primary-color-text)'}"
            class="p-card " style="min-width: 300px;">

            <div class="p-card-body text-lg">
              <h5>{{ answer.text  }}</h5>
            </div>
          </div>

          }@else {


          <p-radioButton name="answerRadioGroup" [disabled]="true"
            [(ngModel)]="quizResult.selectedRadioButtonAnswers[currentIndex]" [value]="answerIndex"></p-radioButton>

          <div
            [ngStyle]="{'background-color':  answer.isCorrect ? 'var(--green-600)' : 'var(--red-600)', 'color': answer.isCorrect ?  'var(--primary-color-text)' : 'var(--primary-color-text)'}"
            class="p-card " style="min-width: 300px;">

            <div class="p-card-body text-lg">
              <h5>{{ answer.text  }}</h5>
            </div>
          </div>
          }
        </div>
        }@empty {
        }
      </div>

    </div>
  </div>
</div>




<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
